* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgoldenrod;
}

.container {
  content: "";
  display: table;
  clear: both;
}

.container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

